# Importando pacotes

In [1]:
import pandas as pd

import plotly.express as px

from matplotlib import pyplot as plt

from matplotlib import gridspec

##  Funções auxiliares

In [ ]:
pd.set_option('display.float_format', '{:.2f}'.format) #tirar da notação científica

# Importando Data Set

In [2]:
df = pd.read_csv('dataset/kc_house_data.csv')

# Perguntas de negócio

## 1. Quantas casas estão disponíveis para compra?

In [10]:
df.shape

# Ao todo são 21613 casas disponíveis para compra

(21613, 21)

## 2. Quantos atributos as casas possuem?

In [11]:
df.shape

# Ao todo são 21 atributos (21 colunas)

(21613, 21)

## 3. Quais são os atributos das casas?

In [28]:
a = df.columns

a.tolist()

# R: 'id',#  'date',#  'price',#  'bedrooms',#  'bathrooms',#  'sqft_living',#  'sqft_lot',#  'floors',
#  'waterfront',#  'view',#  'condition',#  'grade',#  'sqft_above',#  'sqft_basement',#  'yr_built',#  'yr_renovated',
#  'zipcode',#  'lat',#  'long',#  'sqft_living15',#  'sqft_lot15'

['id',
 'date',
 'price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

## 4. Qual a casa mais cara ( casa com o maior valor de venda )?

In [32]:
df[['price', 'id']].sort_values('price', ascending = False)

#R: A casa mais cara custa 7700000 e possui o ID 6762700020

           price          id
7252   7700000.0  6762700020
3914   7062500.0  9808700762
9254   6885000.0  9208900037
4411   5570000.0  2470100110
1448   5350000.0  8907500070
...          ...         ...
8274     82000.0  3883800011
16198    81000.0  3028200080
465      80000.0  8658300340
15293    78000.0    40000362
1149     75000.0  3421079032

[21613 rows x 2 columns]

## 5. Qual a casa com o maior número de quartos?

In [36]:
df[['id','bedrooms']].sort_values('bedrooms', ascending = False)

#A casa com mais quartos é a de ID 2402100895

               id  bedrooms
15870  2402100895        33
8757   1773100755        11
15161  5566100170        10
13314   627300145        10
19254  8812401450        10
...           ...       ...
19452  3980300371         0
8484   2310060040         0
875    6306400140         0
8477   2569500210         0
9773   3374500520         0

[21613 rows x 2 columns]

## 6. Qual a soma total de quartos do conjunto de dados?

In [42]:
df[['bedrooms']].sum()

# A soma total é de 72854 quartos

bedrooms    72854
dtype: int64

## 7. Quantas casas possuem 2 banheiros?

In [53]:
(df[['bathrooms']] == 2).sum()

#Um total de 1930 casas possuem 2 banheiros

bathrooms    1930
dtype: int64

## 8. Qual o preço médio de todas as casas no conjunto de dados?

In [54]:
df[['price']].mean()

# O preço médio é de 540088.14

price    540088.141767
dtype: float64

## 9. Qual o preço médio de casas com 2 banheiros?

In [111]:
a = df.loc[(df['price'] > 0) & (df['bathrooms'] == 2),:]

a['price'].mean()

#R: O preço médio de casos com 2 banheiros é de 457889.71

457889.7186528497

## 10. Qual o preço mínimo entre as casas com 3 quartos?

In [121]:
a = df.loc[(df['price'] > 0) & (df['bedrooms'] == 3), : ]

a['price'].min()

#R: O prelo mínimo é de 82000

82000.0

## 11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?

In [140]:
(df['sqft_living'] > 300).sum()

# 21612 casas possuem mais de 300 m²

21612

## 12. Quantas casas tem mais de 2 andares?

In [141]:
(df['floors'] > 2).sum()

#R: 782 Casas possuem mais de 2 andares

782

## 13. Quantas casas tem vista para o mar?

In [142]:
df['waterfront'].sum()

#R: 163 casas possuem mais de 2 andares

163

## 14. Das casas com vista para o mar, quantas tem 3 quartos?

In [152]:
a = df.loc[(df['waterfront'] > 0) & (df['bedrooms'] == 3)]
           
a['waterfront'].sum()

#R: das 163 casas com vista para o mar, 64 possuem 3 quartos

64

## 15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

In [165]:
a = df.loc[(df['sqft_living'] > 300) & (df['bathrooms'] > 2)]

a['bathrooms'].shape

(11242,)